.card-text{
    font-size: 16px;
    color: #b771d8;
    text-align: center;
}
h3{
    text-align: center;
    color:lightpink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}